<a href="https://colab.research.google.com/github/ANANTHAN782000/mmm/blob/main/Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("/content/fish.csv",header=None)
df

        0       1     2     3     4     5     6
0   Bream   242.0  23.2  25.4  30.0  38.4  13.4
1   Bream   290.0  24.0  26.3  31.2  40.0  13.8
2   Bream   340.0  23.9  26.5  31.1  39.8  15.1
3   Bream   363.0  26.3  29.0  33.5  38.0  13.3
4   Bream   430.0  26.5  29.0  34.0  36.6  15.1
..    ...     ...   ...   ...   ...   ...   ...
80   Pike   950.0  48.3  51.7  55.1  16.2  11.2
81   Pike  1250.0  52.0  56.0  59.7  17.9  11.7
82   Pike  1600.0  56.0  60.0  64.0  15.0   9.6
83   Pike  1550.0  56.0  60.0  64.0  15.0   9.6
84   Pike  1650.0  59.0  63.4  68.0  15.9  11.0

[85 rows x 7 columns]

In [3]:
df.columns=["Fish","Firstcol","Secondcol","Thirdcol","Fourthcol","Fifthcol","Sixthcol"]

In [4]:
df.head()

    Fish  Firstcol  Secondcol  Thirdcol  Fourthcol  Fifthcol  Sixthcol
0  Bream     242.0       23.2      25.4       30.0      38.4      13.4
1  Bream     290.0       24.0      26.3       31.2      40.0      13.8
2  Bream     340.0       23.9      26.5       31.1      39.8      15.1
3  Bream     363.0       26.3      29.0       33.5      38.0      13.3
4  Bream     430.0       26.5      29.0       34.0      36.6      15.1

In [5]:
df.isna().sum()

Fish         0
Firstcol     0
Secondcol    0
Thirdcol     0
Fourthcol    0
Fifthcol     0
Sixthcol     0
dtype: int64